/* Your CSS goes here */

body {
    /*Setting all font to non-bold (my default was bold for whatever reason) and
    to a sans-serif font*/

    font-weight: normal;
    font-family: sans-serif;
}

p, label {
    font-size: 18px;
}

input {
    /*I choose a lighter yellow than the standard 'yellow'*/
    background-color: #ffff99;
}

input[name="lastname"] {
    font-weight: bold;
}

.instructions {
    border: 1px solid black;
    margin: 3px;
    padding: 2px;
}